{% extends 'base.html' %}

{% block content %}


    <p>Topic: {{ topic }}</p>

    <P>Entries: </P>

    {% for entry in entries %}

        <div class="card">
  <div class="card-header">
    Тема
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ entry.text|linebreaks }}</p>
      <footer class="blockquote-footer">Опубликовано: {{ entry.data_added|date:'M d, Y h:i:s'}}</footer>
    </blockquote>
  </div>
</div>
        {% empty %}
            <li>There are no entries for this topic yet.</li>

    {% endfor %}
    <a href="{% url 'Main:create_entry' topic.id %}">Add new entry</a>
{% endblock %}